@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}

@media screen and (max-width: 480px) {
  .media-info-msg {
<<<<<<< HEAD
<<<<<<< HEAD
    display: none;
=======
   display: none;
>>>>>>> baf764a2cf1a31b99d2cab72123b98da5cb1c606
=======
   display: none;
>>>>>>> baf764a2cf1a31b99d2cab72123b98da5cb1c606
  }
}
